@extern('head')

    <link rel="stylesheet" href="views/css/panel.css">

    <div id="content">

        <table id="stations_table">

            <thead>
                <tr>
                    <td class="thead">Estación</td>
                    <td class="thead">Ubicación</td>
                    <td class="thead">Visitas</td>
                </tr>
            </thead>

            <tbody>

                <template id="station_template">
                    <tr class="station">

                        <td class="station_alias"></td>
                        <td class="station_location"></td>
                        <td class="station_visits"></td>

                    </tr>
                </template>

            </tbody>

        </table>

    </div>

    <script type="module" src="views/javascript/panel.js"></script>

@extern('footer')