@extern('head')

    <link rel="stylesheet" href="views/css/register.css">

    <div id="modal_container">
        <div class="modal">
            <div class="modal-header">
                <h3 class="modal-title">Revisa tu correo</h3>
            </div>
            <div class="modal-content">
                <div class="modal-icon-container">
                    <i class="fa-solid fa-check fa-2xl" style="color: #63E6BE;"></i>
                </div>
                <div class="modal-text-container">
                    <p class="modal-text">Hemos enviado los pasos para verificar tu cuenta a tu correo electrónico.</p>
                </div>
            </div>
        </div>
    </div>

    <div id="content">

        <div class="register-form-container">
            <form class="register-form" id="register_form">
                <div class="form-header">
                    <h1>Registrarse</h1>
                </div>
                <div class="form-fields">
                    <div class="form-field">
                        <label for="input_email" class="form-label">Correo electrónico</label>
                        <input type="text" name="email" class="form-input" id="input_email" required>
                    </div>

                    <div class="form-field">
                        <label for="input_password" class="form-label">Contraseña</label>
                        <input type="password" name="password" class="form-input" id="input_password" required>
                    </div>

                    <div class="form-field">
                        <label for="input_password_confirm" class="form-label">Repita la contraseña</label>
                        <input type="password" name="password_confirm" class="form-input" id="input_password_confirm" required>
                    </div>

                    <div class="error-container" id="error_container">
                        <p id="error_message"></p>
                    </div>
                </div>
                <div class="form-footer">
                    <div class="form-button-container">
                        <input type="submit" id="submit_button" value="Registrarse">
                    </div>
                    <a href="login">¿Ya tienes una cuenta? Iniciar Sesión</a>
                </div>
            </form>
        </div>

    </div>

    <script type="module" src="views/javascript/register.js"></script>

@extern('footer')