#info-container{
    width: 600px;
    height: 400px;

    border: 1px solid gray;
    border-radius: 8px;

    background-color: white;

    display: flex;
    flex-direction: column;

    align-content: start;

    overflow: hidden;

    position: absolute;

    h1{
        margin: 0;

        height: 5rem;

        border-bottom: 1px solid gray;

        background-color: rgb(97, 171, 255);

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px
    }

    h1 span{
        color: white;
    }

    p{
        text-align: center;
    }

    a{
        width: 250px;
        height: 3rem;

        border: 1px solid gray;
        border-radius: 1rem;

        background-color: rgb(97, 171, 255);

        text-decoration: none;
        color: white;

        display: flex;
        justify-content: center;
        align-items: center;
        
        position: absolute;
        bottom: 100px;
        left: 50%;
        transform: translateX(-50%);
    }

    a:hover{
        background-color: rgb(207, 229, 255);
        color: black;
    }

}